asgiref==3.11.1
asttokens==3.0.1
colorama==0.4.6
decorator==5.3.1
Django==6.0.5
executing==2.2.1
ipython==9.14.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
matplotlib-inline==0.2.2
parso==0.8.7
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.12
pure_eval==0.2.3
Pygments==2.20.0
python-dotenv==1.2.2
sqlparse==0.5.5
stack-data==0.6.3
traitlets==5.15.0
tzdata==2026.2
wcwidth==0.7.0
