{% extends 'catalog/base.html' %}

{% block title %}
    {% if object %}Редактировать статью{% else %}Новая статья{% endif %}
{% endblock %}

{% block content %}
<h1>{% if object %}Редактировать статью{% else %}Новая статья{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Сохранить</button>
    <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}
