{% extends 'catalog/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="row">
    {% for product in page_obj %}
    <div class="col-md-4 col-sm-6 mb-4">
        <div class="card mb-4 box-shadow h-100">
            {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}" style="height: 150px; width: auto; object-fit: contain;">
            {% endif %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ product.price }} $</h1>
                <p class="card-text">{{ product.description|truncatechars:100 }}</p>
                <a href="/products/{{ product.pk }}/" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
