{% extends 'catalog/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h1>{{ product.name }}</h1>

        {% if product.image %}
            <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
        {% endif %}

        <p><strong>Цена:</strong> {{ product.price }} $</p>
        <p><strong>Описание:</strong> {{ product.description }}</p>

        <a href="/" class="btn btn-secondary">Назад</a>

        <!-- Кнопки редактирования и удаления -->
        {% if user == product.owner or user.is_superuser %}
            <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-secondary">Редактировать</a>
        {% endif %}

        {% if user == product.owner or user.is_superuser or perms.catalog.can_unpublish_product %}
            <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger">Удалить</a>
        {% endif %}
    </div>
</div>
{% endblock %}
